<app-blank pageName="Depolar" [routers]="['Depolar']">
  <app-section sectionTitle="Depo Listesi">
    <div class="form-group row">
     <div class="col-9">
      <button class="btn btn-dark" data-toggle="modal" data-target="#createModal">
      <i class="far fa fa-plus me-1"></i>
       Depo Ekle
      </button>
     </div>
     <div class="col-3">
      <input type="search" [(ngModel)]="search" class="form-control" placeholder="Arama...">
     </div>
    </div>
    <div class="form-group mt-2">
     <table class="table table-hover">
      <thead>
        <th>#</th>
        <th>Depo Adı</th>
        <th>Şehir</th>
        <th>İlçe</th>
        <th>Açık Adres</th>
        <th>İşlemler</th>
      </thead>
      <tbody>
        @for(depot of depots | depot : search ;track depot;){
          <tr>
            <td>{{$index + 1}}</td>
            <td>{{depot.name}}</td>
            <td>{{depot.city}}</td>
            <td>{{depot.town}}</td>
            <td *ngIf="depot.fullAddress.length<=20">{{depot.fullAddress}}</td>
            <td *ngIf="depot.fullAddress.length>20">{{depot.fullAddress.substring(0,20)}}...</td>
            <td>
              <button class="btn btn-outline-primary btn-sm" (click)="openEditModal(depot)" data-toggle="modal" data-target="#updateModal">
                <i class="far fa fa-edit"></i>
              </button>
              <button class="btn btn-outline-danger btn-sm" style="margin-left: 5px;" (click)="delete(depot)">
                <i class="far fa fa-trash"></i>
              </button>
            </td>
          </tr>
        }
      </tbody>
     </table>
    </div>
  </app-section>

</app-blank>

<!--Create Modal-->
<div class="modal fade" id="createModal" tabindex="-1" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="max-height: 800px;overflow-y: auto;">
      <div class="modal-header">
        <h5 class="modal-title" id="createModalLabel">Depo Ekle</h5>
        <button type="button" #createModalCloseBtn class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form formValidate autocomplete="off" #createForm="ngForm" (ngSubmit)="create(createForm)">
        <div class="modal-body">
          <div class="form-group">
            <label>Depo Adı</label>
            <input [(ngModel)]="createModel.name" type="text" required minlength="3" maxlength="20" class="form-control" name="name">
            <div class="invalid-feedback"></div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group mt-2">
                <label>Şehir</label>
                <input [(ngModel)]="createModel.city" type="text" required minlength="3" maxlength="15" class="form-control" name="city">
                <div class="invalid-feedback"></div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group mt-2">
                <label>İlçe</label>
                <input [(ngModel)]="createModel.town" type="text" required minlength="3" maxlength="15" class="form-control" name="town">
                <div class="invalid-feedback"></div>
              </div>
            </div>
          </div>
          <div class="form-group mt-2">
            <label>Açık Adres</label>
            <textarea [(ngModel)]="createModel.fullAddress" name="fullAddress" class="form-control" maxlength="50" rows="5" required minlength="3" maxlength="255"></textarea>
            <div class="invalid-feedback"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-dark w-100">Kaydet</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--Update Modal-->
<div class="modal fade" id="updateModal" tabindex="-1" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="max-height: 800px;overflow-y: auto;">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel">Depo Düzenle</h5>
        <button type="button" #updateModalCloseBtn class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form formValidate autocomplete="off" #updateForm="ngForm" (ngSubmit)="update(updateForm)">
        <div class="modal-body">
          <div class="form-group">
            <label>Depo Adı</label>
            <input [(ngModel)]="updateModel.name" type="text" required minlength="3" maxlength="20" class="form-control" name="updateName">
            <div class="invalid-feedback"></div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group mt-2">
                <label>Şehir</label>
                <input [(ngModel)]="updateModel.city" type="text" required minlength="3" maxlength="15" class="form-control" name="updateCity">
                <div class="invalid-feedback"></div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group mt-2">
                <label>İlçe</label>
                <input [(ngModel)]="updateModel.town" type="text" required minlength="3" maxlength="15" class="form-control" name="updateTown">
                <div class="invalid-feedback"></div>
              </div>
            </div>
          </div>
          <div class="form-group mt-2">
            <label>Açık Adres</label>
            <textarea [(ngModel)]="updateModel.fullAddress" name="updateFullAddress" class="form-control" maxlength="50" rows="5" required minlength="3" maxlength="255"></textarea>
            <div class="invalid-feedback"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-dark w-100">Kaydet</button>
        </div>
      </form>
    </div>
  </div>
</div>
