<app-blank pageName="Reçeteler" [routers]="['Reçeteler']">
  <app-section sectionTitle="Reçete Listesi">
    <div class="form-group row">
     <div class="col-9">
      <button class="btn btn-dark" data-toggle="modal" data-target="#createModal">
      <i class="far fa fa-plus me-1"></i>
       Reçete Ekle
      </button>
     </div>
     <div class="col-3">
      <input type="search" [(ngModel)]="search" class="form-control" placeholder="Arama...">
     </div>
    </div>
    <div class="form-group mt-2">
     <table class="table table-hover">
      <thead>
        <th>#</th>
        <th>Ürün Adı</th>
        <th>İşlemler</th>
      </thead>
      <tbody>
        @for(recipe of recipes | recipe: search ;track recipe;){
          <tr>
            <td>{{$index + 1}}</td>
            <td>{{recipe.product.name}}</td>
            <td>
              <button class="btn btn-dark btn-sm"  routerLink="/recipe-details/{{recipe.id}}">
                <i class="far fa fa-eye" ></i>
                Detay
              </button>
              <button class="btn btn-outline-danger btn-sm" style="margin-left: 5px;" (click)="delete(recipe)">
                <i class="far fa fa-trash"></i>
              </button>
            </td>
          </tr>
        }
      </tbody>
     </table>
    </div>
  </app-section>

</app-blank>

<!--Create Modal-->
<div class="modal fade" id="createModal" tabindex="-1" aria-hidden="true" >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="max-height: 800px;overflow-y: auto;">
      <div class="modal-header">
        <h5 class="modal-title" id="createModalLabel">Reçete Ekle</h5>
        <button type="button" #createModalCloseBtn class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form formValidate autocomplete="off" #createForm="ngForm" (ngSubmit)="create(createForm)">
        <div class="modal-body">
          <div class="form-group">
            <label>Reçete Üretilecek Ürün</label>
            <select class="form-control" [(ngModel)]="createModel.productId" name="productId" required>
             @for(product of products;track product){
              <option value="{{product.id}}">{{product.name}} - {{product.type.name}}</option>
             }
            </select>
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group mt-2">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label>Yarı Mamül Ürün</label>
                <select class="form-control" [(ngModel)]="detail.productId" name="detailProductId" [ngModelOptions]="{standalone : true}">
                 @for(product of semiProducts;track product){
                  <option value="{{product.id}}">{{product.name}}</option>
                 }
                </select>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>Adet</label>
                <input class="form-control" [(ngModel)]="detail.quantity" [ngModelOptions]="{standalone : true}">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>İşlemler</label>
                <br>
                <button type="button" class="btn btn-dark" (click)="addDetail()">EKLE</button>
              </div>
            </div>
          </div>
          <div class="mt-2">
            <table class="table table-hover">
             <thead>
              <tr>
                <th>#</th>
                <th>Ürün Adı</th>
                <th>Adet</th>
                <th>İşlemler</th>
              </tr>
             </thead>
             <tbody>
              @for(detail of createModel.details;track detail){
                <tr>
                  <td>{{$index+1}}</td>
                  <td>{{detail.product.name}}</td>
                  <td>{{detail.quantity}}</td>
                  <td>
                    <button class="btn btn-outline-danger" type="button" (click)="removeDetail($index)">
                      <i class="far fa fa-trash" ></i>
                    </button>
                  </td>
                </tr>
              }
             </tbody>
            </table>
          </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-dark w-100">Kaydet</button>
        </div>
      </form>
    </div>
  </div>
</div>
