<app-blank pageName="Üretim" [routers]="['Üretim']">
  <app-section sectionTitle="Üretim Listesi">
    <div class="form-group row">
     <div class="col-9">
      <button class="btn btn-dark" data-toggle="modal" data-target="#createModal">
      <i class="far fa fa-plus me-1"></i>
       Üretim Yap
      </button>
     </div>
     <div class="col-3">
      <input type="search" [(ngModel)]="search" class="form-control" placeholder="Arama...">
     </div>
    </div>
    <div class="form-group mt-2">
     <table class="table table-hover">
      <thead>
        <th>#</th>
        <th>Üretim Numarası</th>
        <th>Tarih</th>
        <th>Ürün Adı</th>
        <th>Ürün Adeti</th>
        <th>Depo</th>
        <th>İşlemler</th>
      </thead>
      <tbody>
        @for(production of productions | production : search ;track production;){
          <tr>
            <td>{{$index + 1}}</td>
            <td>{{production.productionNumber}}</td>
            <td>{{production.createdAt | date : 'dd.MM.yyyy'}}</td>
            <td>{{production.product.name}}</td>
            <td>{{production.quantity}}</td>
            <td>{{production.depot.name}}</td>
            <td>
              <button class="btn btn-outline-danger btn-sm" style="margin-left: 5px;" (click)="delete(production)">
                <i class="far fa fa-trash"></i>
              </button>
            </td>
          </tr>
        }
      </tbody>
     </table>
    </div>
  </app-section>

</app-blank>

<!--Create Modal-->
<div class="modal fade" id="createModal" tabindex="-1" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="max-height: 800px;overflow-y: auto;">
      <div class="modal-header">
        <h5 class="modal-title" id="createModalLabel">Üretim Oluşturma</h5>
        <button type="button" #createModalCloseBtn class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form formValidate autocomplete="off" #createForm="ngForm" (ngSubmit)="create(createForm)">
        <div class="modal-body">
          <div class="form-group">
            <label>Depo</label>
            <select class="form-control" [(ngModel)]="createModel.depotId" name="depotId" required>
              @for(depot of depots;track depot){
               <option value="{{depot.id}}">{{depot.name}}</option>
              }
             </select>
             <div class="invalid-feedback"></div>
          </div>
          <div class="form-group mt-2">
            <label>Ürün</label>
            <select class="form-control" [(ngModel)]="createModel.productId" name="productId" required>
              @for(product of products;track product){
               <option value="{{product.id}}">{{product.name}}</option>
              }
             </select>
             <div class="invalid-feedback"></div>
          </div>
          <div class="form-group mt-2">
            <label>Adet</label>
            <input [(ngModel)]="createModel.quantity" type="number" min="0" max="999999" required class="form-control" name="quantity">
            <div class="invalid-feedback"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-dark w-100">Kaydet</button>
        </div>
      </form>
    </div>
  </div>
</div>
